In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for i in high_schools:
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for schools in high_school_types:
    print(schools)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [2]:
import pandas as pd

In [7]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series
for school in school_series:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [12]:
# Create a Pandas DataFrame from a dictionary
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [16]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["type of school"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name type of school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [21]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

schools_1_df = pd.DataFrame(high_schools_dict)
schools_1_df
schools_1_df.columns
schools_1_df.index
schools_1_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [4]:
school_id = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14"]
school_name = ["Huang Hill school",
              "Figueroa High school",
              "Shelton High school",
              "Hernandez High school",
              "Griffin High school",
               "Wilson High school",
               "Cabrera High school",
               "Bailey High school",
               "Holden High school",
               "Pena High school",
               "Wright High school",
               "Rodriguez High school",
               "Johnson High school",
               "Ford High school",
               "Thomas High school"]
school_type = ["District",
              "District",
              "Charter",
              "District",
              "Charter",
               "Charter",
               "Charter",
               "District",
                "Charter",
                "Charter",
                "Charter",
               "District",
               "District",
               "District",
                "Charter",
              ]

school_pandas_df = pd.DataFrame()
school_pandas_df["school id"] = school_id
school_pandas_df["school name"] = school_name
school_pandas_df["type"] = school_type
school_pandas_df

   school id            school name      type
0          0      Huang Hill school  District
1          1   Figueroa High school  District
2          2    Shelton High school   Charter
3          3  Hernandez High school  District
4          4    Griffin High school   Charter
5          5     Wilson High school   Charter
6          6    Cabrera High school   Charter
7          7     Bailey High school  District
8          8     Holden High school   Charter
9          9       Pena High school   Charter
10        10     Wright High school   Charter
11        11  Rodriguez High school  District
12        12    Johnson High school  District
13        13       Ford High school  District
14        14     Thomas High school   Charter